<div class="container-fluid">
  <div class="row">
    <div class="col product-header">
      <h2>Tu lista de pedidos</h2>
    </div>
  </div>

</div>
<div class="container">

  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        {{#each pedidos}}
        <a class="list-group-item list-group-item-action state-{{this.state}}" id="list-{{this.id}}-list"
          data-bs-toggle="list" href="#list-{{this.id}}" role="tab" aria-controls="{{this.id}}">#{{@index}}
          Pedido: {{this.id}}</a>
        {{/each}}
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">

        {{#each pedidos}}
        <div class="tab-pane fade" id="list-{{this.id}}" role="tabpanel" aria-labelledby="list-{{this.id}}-list">
          {{#if this.state }}
          <span class="badge bg-info text-light state-{{this.state}}">{{this.state}}</span>
          {{/if}}

          <h4>Resumen de compra: <span> <a href="/pedidos/{{this.id}}">detalles</a></span> </h4>
          <h5>Comprador: {{this.customer}}</h5>
          <h5>Fecha de compra: {{this.dateTime}}</h5>

          <h5>Productos:</h5>
          {{#each this.list}}
          <p>{{this.name}}</p>
          {{/each}}
          <h5>Total a pagar: ${{this.finalPrice}}</h5>
          <br />
          {{#if this.terminated}}
          <p>Transacción finalizada</p>

          {{else}}
          <div class="row">
            <div class="col-auto">
              <form action="/pedidos/" method="PUT">
                <input type="text" name="id" id="id" value={{this.id}} hidden readonly>
                <input type="text" name="newState" id="newState" value="pagado" hidden readonly>
                <button type="submit" class="btn btn-success">Pagado</button>
              </form>
            </div>
            <div class="col-auto">
              <form action="/pedidos/" method="PUT">
                <input type="text" name="id" id="id" value={{this.id}} hidden readonly>
                <input type="text" name="newState" id="newState" value="cancelado" hidden readonly>
                <button type="submit" class="btn btn-danger">Cancelado</button>
              </form>
            </div>
          </div>

          {{/if}}
        </div>
        {{/each}}

        {{#if message}}{{message}}{{/if}}

      </div>
    </div>

  </div>


</div>

<script>
  var firstTabEl = document.querySelector('#myTab a:last-child')
  var firstTab = new bootstrap.Tab(firstTabEl)

  firstTab.show()
</script>